.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.menuLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 4.2rem;
  gap: 0.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--text-over-primary);
  background-color: var(--primary);
  transition: all 0.2s ease-in-out;
  padding: 1.2rem;
  border-radius: .8rem;
}

.menuLink:hover {
  filter: brightness(80%);
}

.menuLink svg {
  width: 2.4rem;
  height: 2.4rem;
}
